# Virtual environment
venv/

# Python caches and compiled files
__pycache__/
*.py[cod]
*.pyo

# Distribution / packaging
build/
dist/
*.egg-info/

# Environment files
.env
*.env

# IDEs and editors
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

# Logs
*.log
